<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connection" connectionString="server=sk-pc; Initial Catalog=NEA; User ID=sa; Password=kalukunda" />
    <add name="Nepal_Electricity_Authority.Properties.Settings.NEAConnectionString"
      connectionString="Data Source=sk-pc;Initial Catalog=NEA;Persist Security Info=True;User ID=sa;Password=kalukunda"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>